<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/contacts" method="POST">
  <input type="text" name="name" placeholder="name" >
  <input type="text" name="email" placeholder="email">
  <input type="number" name="age" placeholder="age">
  <button>submit</button>
  </form>
  <div class="saved-user-data">
  <% contacts.forEach(contact =>{%>
  <h4><%= contact.name %>(<%= contact.age %>)</h4>
  <em><%= contact.email %></em><% }) %>
  </div>
</body>
</html>