body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: aquamarine;
  height: 80vh;
  width: 80vw;
}

.saved-user-data {
  color: darkgray;
  background-color: teal;
}
